body{
	margin: 0px;
	background-color: #e9ebee;
	height: 2000px;
}

#navbarHead{
	background-color: #4267b2;
	height: 43px;
	overflow: hidden;
	width: 100%;
	position: fixed;
}

#navbarCentered{
	width: 1012px;
	margin: auto;
	margin-top:9px;
}

#navbarLeft{
	display: inline;
}
#navbarRight{
	float: right;
	display: inline;
}

.navbarContent{
	margin-left: 5px;
}


#fblogo{
	background-image: url("images/FBWhiteBlueLogo.png");
	width: 24px;
	height: 24px;
	display: inline-block;
	cursor: pointer;
}

#searchbar{
	height: 26px;
	outline: none;
	border-radius: 3px;
	border: 1px solid #3b5998;
	padding-left: 7px;
	vertical-align: top;
	width: 450px;
}

.profilePic{
	border-radius: 50%;
}

.text_navbar{
	color:white;
	font-weight: bold;
	top: -7px;
	position: relative;
	padding: 5px;
	cursor: pointer;
	font-family: Helvetica;
	font-size: 12px;
}
#my_profile{
	cursor: pointer;
	display: inline-block;
}
#my_profile:hover{
	background-color: navy;
	border-radius: 10%;
}

.navbarSymbol{
	display: inline;
	margin-left: 20px;
	cursor: pointer;
}

#homePage:hover{
	background-color: navy;
	border-radius:10%;
}

#findFriends:hover{
	background-color: navy;
	border-radius:10%;
}

.settings{
	border: none;
	margin-left: 10px;
	top: -5px;
	position: relative;
	background-image: url('images/settings.png'); 
	width:18px;
	height:20px;
	outline:none;
}
#navbarFull{
	margin-right: 205px;
}
li{
	display:block;
}
a{
	line-height: 18px;
	position:relative;
	height:38px;
}
















#userContent{
	padding-right: 205px;
	margin: 0 auto;
	width: 1012px;
}

#leftColumn{
	margin-top: 60px;
	height:100%; 
	width:180px;
	display: inline-block;
}


.contentText{
	font-family: Helvetica;
	font-size: 14px;
}

#groups{
	margin-bottom: 10px;
}

.CreateLinks{
	text-decoration: none;
}
.CreateLinks:hover{
	text-decoration: underline;
}

.leftColumnElem:hover{
	background-color:white;
}
.leftColumnElem:active{
	background-color:#e9ebee;
}
.leftColumnElem{
	cursor: pointer;
	padding: 2px;
}

#groups{
	margin-top: 5px;
}
#social{
	margin-top:10px;
}

#friends{
	top: 43px;
	bottom:0px;
	right: 0px;
	width: 205px;
	display: inline-block;
	border-left: 1px solid rgba(0,0,0,0.4);
	position: fixed;
	overflow-y: scroll;

}
ul{
	list-style-type: none; 
	cursor: pointer;
	padding: 0;
}


#friendSearch{
	bottom:0px;
	right: 0px;
	position:fixed;
	width: 205px;
}


.friendSearchBar{
	width:85;
	height:30;
	outline:none;
	border: none;
}

.friendName{
	margin-left: 10px;
	height:38px;
}

.curRequest{
	margin-top:20px;
	overflow:auto;
}

.peopleRequests{
	width:308px;
	margin-top:60px;
	float:left;
}

.requests{
	background-color:white;
	padding:15px;
	border-radius:5%;

}

.confirmFriend{
	background-color:#e9ebee;
	outline:none;
	border-radius:10%;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	border:none;
	cursor:pointer;
	margin-top:2px;
}

.addFriendText{
	float:left;
	margin-left:10px;
}

.profilePicDiv{
	clear:left;
	float:left;
}

.friendNameDiv{
	clear:right;
	float:left;
	margin-top:10px;
}


.profilePicFriends{
	clear:left;
	float:left;
	border-radius: 50%;
}

.friendName{
	clear:right;
	float:left;
	margin-top:8px;
	height: 28px;
}

.onlineFrom{
	clear:right;
	float:right;
	margin-top:8px;
	height:28px;
	color:grey;
	margin-right: 5px;
	font-size: 12px;
}



.leftPanelImage{
	clear:left;
	float:left;
	width: 20px;
	height:20px;
}

.leftPanelText{
	font-family: Helvetica;
	font-size: 14px;
	float:left;
	clear:right;
	height:20px;
	margin-left:5px;
}

#leftColumn li{
	height:20px;
}

#leftColumn img{
	width: 20px;
	height: 20px;
	float:left;
}

#leftColumn span{
	height:20px;
	margin-left:5px;
	margin-top:3px;
}

.leftColumnElem{
	height:20px;
	margin-top:5px;
}
#leftColumn ul{
	margin-top:2px;
}